<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.reading.ft025024.fluct">
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/harrier"
        android:label="Fluct"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="uk.ac.reading.ft025024.fluct.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.reading.ft025024.fluct.Game"
            android:screenOrientation="landscape" />
        <activity android:name="uk.ac.reading.ft025024.fluct.Credits" />
        <activity android:name="uk.ac.reading.ft025024.fluct.LevelSelection" />
        <activity android:name="uk.ac.reading.ft025024.fluct.CustomLevels" />
    </application>
</manifest>